@media (min-width: 60rem) {
    /*home*/
    .site-info {
        display: flex;
        flex-direction: row;
        margin: 2rem;
    }
    .site-info div {
        margin-left: 2rem;
    }
    /*target audience*/
    .personas {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 

}