@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Roboto:wght@300&display=swap');
html {
    max-width: 960px;
    margin: auto;
    background-color: white;
}
/*navigation*/
nav {
    text-align: center;
    background-color: #00707A;
    font-family: 'Lato';
    margin-bottom: 3rem;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: 1.5rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
}

nav ul li a:hover { 
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

nav ul.hide {
    display: none;
}

footer{
    text-align: center;
    background-color: #00707A;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}
h1, h5, h6 {
    font-family: 'Lato';
}
h2, h3, h4 {
    font-family: 'Libre Baskerville';
}
p, a, li{
    font-family: 'Roboto';
    font-size: 1.3rem;
}
#dateUpdated {
    font-family: 'Roboto';
}
/*home*/
.site-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}
.logo {
    background-color: #df8768;
    border-radius: .8rem;
    max-width: 100%;
    height: auto;
    padding: 1rem;
}

/*target audience*/
.personas div {
    max-width: 400px;
    margin: 1rem;
    padding: 1rem;
    background-color: #f7f4f3;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.personas img {
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.scenarios {
    border: 3px solid #cde4e4;
    margin: 2rem;
    padding: 2rem;
}

/*color scheme*/
.color-image img {
    width: 100%;
}
.colors {
    margin: 2rem;
    border-top: 3px dashed #ffb399;
}
.colors div {
    border-bottom: 3px dashed #ffb399;
}

/*typography*/
.headings div {
    background-color: #f7f4f3;
    border-radius: .8rem;
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
}
.heading-type {
    border-bottom: 3px dashed #df8768;
    padding-bottom: .5rem;
}
.paragraph p {
    margin: 2rem;
}

/*wireframes*/

.wireframe {
    margin: 2rem;
}
.wireframe img {
    width: 900px;
    max-width: 100%;
    height: auto;
}
.wireframe h2 {
    padding-bottom: 1rem;
    border-bottom: 3px dashed #df8768;
}
