@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Roboto:wght@300&display=swap');
html {
    max-width: 960px;
    margin: auto;
    background-color: white;
}
/*navigation*/
nav {
    text-align: center;
    background-color: black;
    font-family: 'Lato';
    margin-top: 2rem;
    margin-bottom: 3rem;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: whitesmoke;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: whitesmoke;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.4); 
    color: darkgrey;
}

nav ul li a:hover { 
    background-color: darkgrey;
    color: black;
}

nav ul.hide {
    display: none;
}

footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
}
footer a {
    text-decoration: none;
    color: whitesmoke;
}
h1, h5, h6 {
    font-family: 'Lato';
}
h2, h3, h4 {
    font-family: 'Libre Baskerville';
}
p, a {
    font-family: 'Roboto';
    font-size: 1.3rem;
}
#dateUpdated {
    font-family: 'Roboto';
}
/*color scheme*/
.color-image img {
    width: 100%;
}

/*typography*/
.headings div {
    border: 3px dashed black;
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
}
.heading-type {
    border-bottom: 3px solid black;
}
.paragraph p {
    margin: 2rem;
}