/*Phone veiw*/
body {
    max-width: 760em;
    margin: auto;
    background-color: black;
}
header {
    text-align: center;
    border: 5px solid palevioletred;
    border-radius: 25px;
    margin: 5px;
}
header h1, h2 {
    color: white;
}

nav a {
    text-decoration: none;
}
main {
    display: grid;
    grid-template-columns: 1fr;
}
section {
    background-color: white;
    border: 5px solid palevioletred;
    border-radius: 25px;
    margin: 5px;
}
footer {
    text-align: center;
    border: 5px solid palevioletred;
    border-radius: 25px;
    margin: 5px;
}
footer p{
    color: white;
    
}
