header {
    background-color: palevioletred;
}
nav a {
    text-decoration: none;
}
main {
    display: grid;
}
section {
    grid-template-columns: 1fr;
}
footer{
    background-color: palevioletred;
}
