@media (min-width: 60rem) {
    header img {
        max-width: 200px;
    }
    /*fonts*/
    h1 {
        font-size: 7rem;
        }
/*Gallery page*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}       
}