body {
    max-width: 400px;
    margin: auto;
}
picture {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
}
picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}