/*header and nav*/
@media (min-width: 40em) {

    nav button {
        display: none;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 auto;
    }
    nav ul.hide {
        display: flex;
    }

    header img {
        max-width: 150px;
    }
    /*Home Page*/ 
    .cards section {
        display: flex;
        flex-direction: row;
    }
    .cards section:nth-child(2) {
        flex-direction: row-reverse;
    }
    .poem {
        margin: 3rem 8rem;
    }

    /* hero banner*/
    .hero {
        position: relative;
        margin: 2rem 0;
    }

    /*Town Pages*/
    .weatherSum {
        position: absolute;
        top: 7%;
        left: 5%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.6);
    }
    /*article*/
    .article img {
        float: right;
        margin: 1rem;
    }
    /*events*/
    .eventBox {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 3rem 6rem;
    }
    .events {
        text-align: left;
    }
    /*fonts*/
        h1 {
        font-size: 5rem;
        margin: 0;
        padding: 0;
        }

    /*Gallery page*/
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .gallery figure img:hover {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    /*footer*/
    .siteInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .siteInfo div {
        text-align: left;
    }
    .siteInfo img {
        max-width: 300px;
    }
}