@media (min-width: 37.5em) {
    nav {
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    nav button {
        display: none;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 auto;
    }
    nav ul.hide {
        display: flex;
    }
    /* ------- home ------- */
    .local-ad {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 0;
    }
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        padding: 5rem;
    }
    .home-grid img {
        grid-column: 3/4;
        grid-row: 1/4;
        align-self: center;
        min-width: 300px;
    }
    .purpose {
        grid-column: 1/3;
        grid-row: 1/3;
        margin-top: 5rem;
        margin-right: 0;
    }
    .purpose p {
        font-size: 1.6rem;
    }
    .join {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-bottom: 5rem;
        margin-right: 0;
        border-top: 3px solid #00707a;
        align-items: center;
    }
    .events-box{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* ------- directory ------- */
    .cards section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .directory-head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0;
    }

    /* ------- ref ------- */
   .ref-page div {
       display: flex;
       flex-direction: row;
   }
   .ref-page img {
       max-width: 200px;
   }

   /* ------- contact page ------- */
   .map-box {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
   }
   .map-box iframe {
       align-self: center;
       width: 50%;
   }
   .board {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
   }
}   