@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Roboto:wght@300&display=swap');
html {
    max-width: 100%;
    margin: auto;
    background-color: white;
}
/*navigation*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #00707A;
    font-family: 'Lato';
    margin-bottom: 3rem;
    padding: 1.5rem;
}
nav img {
    max-width: 200px;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .2rem 1vw;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
nav ul li.active a { 
    color: #df8768;
}

nav ul li a:hover { 
    border-bottom: 2px solid white;
    color: white;
}

nav ul.hide {
    display: none;
}

footer{
    text-align: center;
    background-color: #00707A;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}
h1, h5, h6 {
    font-family: 'Lato';
}
h2, h3, h4 {
    font-family: 'Libre Baskerville';
}
p, a, li, #currentDate {
    font-family: 'Roboto';
    font-size: 1.3rem;
}