@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Roboto:wght@300&display=swap');
html {
    max-width: 100%;
    margin: auto;
    background-color: white;
}
/*navigation*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #00707a;
    background-image: linear-gradient(to right, #00707a , #60a9a9);
    font-family: 'Lato';
    margin-bottom: 3rem;
    padding: 1.5rem;
}
nav img {
    max-width: 200px;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .2rem 1vw;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
nav ul li.active a { 
    color: #df8768;
}

nav ul li a:hover { 
    border-bottom: 2px solid white;
    color: white;
}

nav ul.hide {
    display: none;
}

footer{
    text-align: center;
    background-color: #00707A;
    background-image: linear-gradient(to right, #00707a , #60a9a9);
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}
h1, h3, h5 {
    font-family: 'Lato';
}
h2, h4, h6 {
    font-family: 'Libre Baskerville';
}
p, a, li, #currentDate {
    font-family: 'Roboto';
    font-size: 1.3rem;
}

/* ------- home page ------- */
.local-ad div {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.local-ad img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 350px;
    align-self: center;
}
.home-grid img {
    width: 100%;
    height: auto;
    max-width: 600px;
}
.purpose {
    background-color: #f7f4f3;
}
.join {
    background-color: #f7f4f3;
}

/* ------- directory ------- */
.cards section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid #60a9a9;
}
.cards img {
    max-width: 300px;
    height: auto;
}