@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Roboto:wght@300&display=swap');
html {
    max-width: 100%;
    margin: auto;
    background-color: white;
}
/*navigation*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #00707a;
    background-image: linear-gradient(to right, #00707a , #60a9a9);
    font-family: 'Lato';
    margin-bottom: 3rem;
    padding: 1.5rem;
}
nav img {
    max-width: 200px;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .2rem 1vw;
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}
nav ul li.active a { 
    color: #df8768;
}

nav ul li a:hover { 
    border-bottom: 2px solid white;
    color: white;
}

nav ul.hide {
    display: none;
}

footer{
    text-align: center;
    background-color: #00707A;
    background-image: linear-gradient(to right, #00707a , #60a9a9);
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}
h1, h3, h5 {
    font-family: 'Lato';
}
h2, h4, h6 {
    font-family: 'Libre Baskerville';
}
p, a, li, #currentDate {
    font-family: 'Roboto';
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    color: black;
}

/* ------- home page ------- */
.local-ad {
    border-top: 3px dashed #df8768;
    border-bottom: 3px dashed #df8768;
    padding: 2rem 0;
}
.local-ad div {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #cde4e4;
    border-radius: 1rem;
    margin: 1rem;
}
.local-ad img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 350px;
    align-self: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.local-ad a:hover {
    font-size: 1.5rem;
    border-bottom: 2px solid black;
}
.home-grid img {
    width: 100%;
    height: auto;
    max-width: 600px;
    padding: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.purpose {
    background-color: #f7f4f3;
    padding: 1rem;
    margin: 0 2rem;
}
.join {
    background-color: #f7f4f3;
    padding: 1rem;
    margin: 0 2rem;
}
.for-evs {
    background-color: #cde4e4;
    margin-bottom: 5rem;
    padding: 1.5rem;
}
.events {
    background-color: white;
    padding: 1rem 2rem;
}
.forecast-box {
    text-align: center;
    background-color: white;
    border: 3px dashed #ffb399;
    border-radius: 1rem;
    padding: 0 2rem;
    margin: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.forecast-box h3 {
    padding-bottom: .5rem;
    font-size: 1.5rem;
    border-bottom: 3px solid #df8768;
}
.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}
.forecast img {
    max-width: 75px;
    width: 100%;
    height: auto;
}
.forecast div {
    padding: 1rem;
    background-color: white;
}


/* ------- directory ------- */
.cards section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid #60a9a9;
}
.cards img {
    max-width: 300px;
    height: auto;
}

/* ------- contact page ------- */
