@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@500&family=Sedgwick+Ave&display=swap');
body {
    max-width: 1200px;
    margin: auto;
    background-color: white;
}
header {
    background-color: #fde549;
}
header section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header section h1 {
    grid-column: 1/3;
    align-self: center;
    font-size: 3rem;
}
header section img {
    grid-column: 3/4;
    margin: auto;
    max-width: 300px;
    width: 100%;
    height: auto;
}
nav {
    background-color: white;
    text-align: center;
    border-bottom: 4px solid  #fde549;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
}
main{

}
footer{
    background-color: #fde549;
    text-align: center;
}
h1 {
    font-family: 'Sedgwick Ave';
}
h2 {
    font-family: 'Raleway';
}
p, a {
    font-family: 'Montserrat';
}
#dateUpdated {
    font-family: 'Montserrat';
}