@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat&family=Raleway:wght@500&display=swap');
body {
    max-width: 1250px;
    margin: auto;
    background-color: white;
}
header {
    
}
header section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}
header section h1 {
    grid-column: 1/3;
    align-self: center;
    margin: 20px;
    font-size: 3rem;
}
header section img {
    grid-column: 3/4;
    margin: auto;
    max-width: 200px;
    width: 100%;
    height: auto;
    padding: 10px;
}
nav {
    text-align: center;
    background-color: #d68c45;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}
main{
    margin: 20px;
}
footer{
    text-align: center;
    background-color: #d68c45;
}
h1 {
    font-family: 'Concert One';
}
h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
}
p, a {
    font-family: 'Montserrat';
}
#dateUpdated {
    font-family: 'Montserrat';
}
/* color-scheme.html css*/
.colors img {
    margin: auto;
    max-width: 700px;
    width: 100%;
    height: auto;
}
/*target-audience.html css*/

/*typography.html css*/