@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat&family=Raleway:wght@500&display=swap');
body {
    max-width: 1250px;
    margin: auto;
    background-color: white;
}
header section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
header section h1 {
    grid-column: 1/3;
    align-self: center;
    margin: 20px;
    font-size: 3rem;
}
header section img {
    grid-column: 3/4;
    margin: auto;
    max-width: 200px;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 4px solid #d78c47;
}
nav {
    text-align: center;
    background-color:  #23583a;
}
nav ul {
    list-style-type: none;
    padding: 10px;
}
nav ul li {
    display: block;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: #ffe0d6;
}
main {
    margin: 25px;
}
.home h2 {
    border-bottom: 4px solid #d78c47;
}
footer{
    text-align: center;
    background-color: #23583a;
    color: #ffe0d6;
}
footer a {
    text-decoration: none;
    color: #ffe0d6;
}
h1 {
    font-family: 'Concert One';
}
h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
}
p, a {
    font-family: 'Montserrat';
    font-size: 1.3rem;
}
a:hover {
    background-color: #ffe0d6;
    color: black;
}
#dateUpdated {
    font-family: 'Montserrat';
}
/* color-scheme.html css*/
.colors img {
    margin: auto;
    max-width: 700px;
    width: 100%;
    height: auto;
    border: 4px solid #d78c47;
}
/*target-audience.html css*/
.target img {
    margin: auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    border: 4px solid #d78c47;
}
.scenarios {
    border-top: 4px solid #d78c47;
}
.scenarios ul {
    list-style-type: square;
    font-family: 'Montserrat';
}
/*typography.html css*/
.typography section {
    border-top: 4px solid #d78c47;
}